@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: grid;
    margin: 0;
    background: #fff;
}

.box .exit-modal .exit {
    display: flex;
    justify-content: end;
}

.box .exit-modal .exit i {
    cursor: pointer;
}

.columns .column .register {
    text-align: right;
    text-decoration: none;
}

.columns .column .register:hover {
    text-decoration: underline;
}

.float-right {
    float: right;
}

#forgot-btn {
    text-decoration: none;
}

#forgot-btn:hover {
    text-decoration: underline;
}

.control .icon i {
    color: #c0d4cf;
}

label .checkbox {
    top: 2px;
}

.faded-center {
    display: flex;
    text-align: center;
}

#forgot-box {
    display: none;
}